<h6 class="border-bottom border-gray pb-2 mb-0">
    {% for rate in rating %}
        {% if rate %}
            <span class="fa fa-star checked"></span>
        {% else %}
            <span class="fa fa-star"></span>
        {% endif %}
    {% endfor %}
</h6>
<div class="media text-muted pt-3">
    <img data-src="holder.js/32x32?text={{ review.id }}&bg=e83e8c&fg=fff&size=8"
         alt="" class="mr-2 rounded" src="">

    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <span class="d-block">
            {{ review.description }}
        </span>
    </p>
</div>
<h6 class="border-bottom border-gray pb-2 mb-0">{{ created_at|date('d/m/Y') }}</h6>
